/* header with logo and background */
.container{
    background-image: url("/img/pattern.png");
    background-size: 100% 100%;
    width:100%;
    height: 200px;
    border: 2px solid black;
    background-repeat: repeat-y;
    background-color: dodgerblue;
}
.img{
    width: 200px;
    height: 200px;
    margin: 100px 25px ;
    display: block;
    position: absolute;

}
/* Ending header with logo and background */
/* header with text */
h1{
    margin-inline-start: 0px;
    padding-left: 0px;
    padding-top: 200px;
    font-weight: 900;
    font-size: 60px;
    
}

.booleaner{
    color: mediumturquoise ;
}
.scritto{
    color: lightsteelblue;
    font-size: 30px;
}
/* ending header with Text */
/* header with Pictures */

.tim1{
    background-image: url("/img/tim-1.jpg");
    background-size: cover;
    width: 1000px;
    height: 600px;
    display: inline-block;
    

}
.tim2{
    background-image: url("/img/tim-2.jpg");
    background-size: cover;
    width: 800px;
    height: 600px;
    display: inline-block;
    

}
.photodescription{
    font-size: 20px;
}
/* ending header with Picture */

